footer {
  width: 100%;
  height: auto;
  font-family: 'Novecento Sans Web';
  .foorer-content {
    color: $background_colour;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    padding: 15px 40px;
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
  }

  img {
    width: 25%;
    position: relative;
    padding-bottom: 10%;
  }

  #text-4 {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    line-height: 1.75;
    .address {
    display: none;
    }
    h2 {
      color: $orange_brand_colour;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }
    .contact-icons {
      width: 100px;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      padding: 5px;
      width: 20%;
      p {
        color: $font_base_color;
        padding: 5px;
      }
    }
  }
  #text-6 {
    width: 30%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    line-height: 1.75;
    padding: 10px;
    h2 {
      color: $orange_brand_colour;
      text-transform: uppercase;
      font-family: 'Novecento Sans Web';
    }
    .fa {
      width: 2px;
    }
  }
  #archives-4 {
    display: none;
  }
  .back {
    font-size: 20px;
    color: $background_colour;
    text-align: center;
    padding: 30px;
  }
}
