header {
  width: $width_website;
  height: auto;
  position: fixed;
  font-family: 'Novecento Sans Web';
  // margin: 5px 20px;
}

.main-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  .logo {
    width: 20%;
    padding-left: 0px;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding-left: 65%;
    font-family: Novecento Sans Web;
  }
  ul a {
    padding: 10px;
    color: $background_colour;
    font-size: $font_size;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Novecento Sans Web;
  }

  .search-toggle {
    padding-left: 30px;
    .fa {
      color: $background_colour;
    }
  }

  fieldset {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    label {
      display: none;
    }
    #search-submit {
      display: none;
    }
  }
}

.main-green {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  .logo {
    width: 20%;
    padding-left: 0px;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding-left: 65%;
    font-family: Novecento Sans Web;
  }
  ul a {
    padding: 10px;
    color: $green_brand_colour;
    font-size: $font_size;
    margin: 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Novecento Sans Web;
  }

  .search-toggle {
    padding-left: 30px;
    .fa {
      color: $green_brand_colour;
    }
  }

  fieldset {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    label {
      display: none;
    }
    #search-submit {
      display: none;
    }
  }
}
