.find-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-top: solid 0.1px rgb(226, 223, 223);
  .find-us-page {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h2 {
      width: 100%;
      font-size: 24px;
      margin: 0px;
      margin: 20px 0px;
      color: $font_base_color;
      text-transform: uppercase;
      font-family: Novecento Sans Web Bold;
      text-align: left;
    }

    iframe {
      width: 100%;
      height: 250px;
      padding: 20px 0px;
    }

    p {
      height: auto;
      color: $font_base_color;
      line-height: 1.75;
    }

    input[type='submit'] {
      width: 15%;
      display: block;
      margin-left: 30%;
      background-color: #248a83;
      border: none;
      padding: 10px;
      color: $background_colour;
      margin: 10px;
    }
    input[type='text'],
    input[type='email'] {
      width: 50%;
      font-size: 24px;
      background-color: rgb(226, 223, 223);
    }
    textarea {
      width: 100%;
      background-color: rgb(226, 223, 223);
    }
  }

  .contact-find-us-page {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    border-left: solid 0.1px rgb(226, 223, 223);
    h2 {
      padding: 10px 0px;
      color: $font_base_color;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }

    #text-4 {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: space-between;

      .textwidget {
        color: red;
      }

      .phone,
      .email {
        color: $green_brand_colour;
        i {
          color: $font_base_color;
        }
      }

      .address {
        color: black;
      }
    }

    .contact-icons {
      width: 100px;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      padding: 5px;
      width: 20%;
      p {
        color: $font_base_color;
        padding: 5px;
      }
    }
  }
  #text-6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;

    padding: 10px;
    .fa {
      width: 2px;
    }
  }
  #archives-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    padding: 10px;
    a {
      color: $green_brand_colour;
      text-decoration: none;
    }
  }
}



.contact-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-top: 20px;
  border-left: solid 0.1px rgb(226, 223, 223);
  h2 {
    padding: 10px 0px;
    color: $font_base_color;
    text-transform: uppercase;
    font-family: Novecento Sans Web Bold;
  }

  #text-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    font-size: 14px;
    .contact-icons {
      display: none;      
    }
    p {
      margin: 10px;
      padding: 5px;
      line-height: 1.75;
      .icon {
        display: none;
      }
          }
    .phone,
    .email {
      color: $green_brand_colour;
    }
    .address {
      color: $font_base_color;
    }
  
    .contact-icons {
      width: 100px;
      display: flex;
      flex-direction: row;
      align-content: space-between;
      padding: 5px;
      width: 20%;
      p {
        color: $font_base_color;
        padding: 5px;
      }
    }
  }
  #text-6 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    padding: 10px;
    font-size: 14px;
    .fa {
      width: 2px;
    }
    p {
      // margin: 10px;
      padding: 5px;
      line-height: 1.75;}
  }
  #archives-4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    padding: 10px;
    a {
      color: $green_brand_colour;
      font-family: 'Merriweather Light';
      font-size: 14px;
      line-height: 1.75;
    }
    ul {
      color: $green_brand_colour;
      text-decoration: none;   
        padding: 5px;
        
    
    }
  }
}
