@font-face {
  font-family: 'Raleway Medium Italic';
  src: url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
    url('../fonts/Raleway-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  width: 1120px;
  height: auto;
  font-size: 2em;
  border: solid 1px #e1e1e1;
  font-family: Raleway Light;
  font-size: 16px;
}

// hOME PAGE
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: flex-start;
}

.logo {
  width: 5%;
  padding: 10px;
  padding-left: 30px;
}

.main-menu {
  width: 100%;
  padding: 20px;
  padding-right: 30px;
}

.main-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.main-menu ul a {
  padding: 15px;
  color: blue;
  font-size: 20px;
  margin: 0px;
}

.main-menu ul a:hover {
  color: red;
}

.font-page {
  width: 100%;
  position: relative;
  z-index: -1;
  top: -60px;
}

.logotype {
  position: absolute;
  width: 20%;
  height: auto;
  top: -535px;
  bottom: 0;
  left: 40%;
}

// End Home page

footer {
  background-color: yellowgreen;
  color: white;
}

// About page
.container-about-page {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  z-index: -1;
}

.about-page img {
  z-index: -1;
  object-fit: cover;
  object-position: 20% 0;
}

.about-page h1 {
  position: relative;
  color: blue;
  font-size: 48px;
  top: -400px;
}

.container-about-page p {
  width: 65%;
  line-height: 1.5em;
}

.has-text-align-center {
  text-align: center;
  font-size: 24px;
  padding: 10px 50px;
}

// End About..

// Single product page...
.container-single-page {
  width: 100%;
}

.container-single-page img {
  width: 30%;
  height: auto;
}

.price {
  font-size: 24px;
}
