@font-face {
  font-family: 'Raleway Medium Italic';
  src: url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
    url('../fonts/Raleway-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
    url('../fonts/Raleway-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display Italic';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display Bold';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

body {
  width: 1120px;
  height: auto;
  font-size: 2em;
  border: solid 1px #e1e1e1;
  font-family: Raleway Light;
  font-size: 16px;
}

// hOME PAGE
header {
  width: 100%;
  height: auto;
  // display: flex;
  // flex-direction: row;
  // align-content: space-between;
  // align-items: flex-start;
}

.main-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .logo {
    width: 20%;
    padding-left: 30px;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 30px;
  }
  ul a {
    padding: 15px;
    color: white;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
  }
}

.main-green {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .logo {
    width: 20%;
    padding-left: 30px;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding-right: 30px;
  }
  ul a {
    padding: 15px;
    color: green;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
  }
}

.font-page {
  width: 100%;
  position: relative;
  z-index: -1;
  top: -60px;
}

.logotype {
  position: absolute;
  width: 20%;
  height: auto;
  top: -535px;
  bottom: 0;
  left: 40%;
}

.shop-stuff-h1 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
  padding: 0px;
}

.shop-sruff {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.post-catecory {
  width: 25%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin: 10px;
  border: solid 1px lightgrey;
}

.post-catecory {
  img {
    width: 20%;
    margin: 5px;
  }
  p {
    margin: 5px;
    text-align: center;
    line-height: 1.5em;
    padding: 15px;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: green;
    padding: 10px;
    color: white;
    border-width: 0px;
    margin: 10px;
    margin-left: 30%;
  }
}

.inhabit-jurnal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.jurnals {
  width: 30%;
  height: auto;
  margin: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

.topic-jurnal {
  width: 100%;
  height: 140px;
  border: solid 2px lightgrey;
  color: green;
  font-size: 32px;
  .journal-date {
    font-size: 16px;
    color: black;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: white;
    border: 1px solid #0a0a0a;
    padding: 10px;
    color: black;
    margin: 10px;
  }
}

.content-adventure {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  border: solid 1px blue;
  margin-bottom: 10px;
}

.gering-back {
  background-position: bottom;
  background-size: 850px;
  background-repeat: no-repeat;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  .content-adv {
    width: 100%;
    height: 100%;
  }
  p {
    color: white;
    font-size: 24px;
    padding: 40px;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: black;
    border: 1px solid #f8f4f4;
    color: white;
    margin: 10px;
    font-size: 16px;
    padding: 10px 40px;
  }
}

.beach-bonfire {
  background-position: center;
  background-size: 700px;
  background-repeat: no-repeat;
  grid-column: 3 / 5;
  grid-row: 1;
  p {
    color: white;
    font-size: 24px;
    padding: 40px;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: black;
    border: 1px solid #f8f4f4;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: 16px;
    padding: 10px 40px;
  }
}

.mountain-hikers {
  background-position: center;
  background-size: 450px;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 2;
  p {
    color: white;
    font-size: 24px;
    padding: 40px;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: black;
    border: 1px solid #f8f4f4;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: 16px;
    padding: 10px 40px;
  }
}

.night-sky {
  background-position: bottom;
  background-size: 550px;
  background-repeat: no-repeat;
  grid-column: 4 / 5;
  grid-row: 2;
  p {
    color: white;
    font-size: 24px;
    padding: 40px;
  }
  button {
    display: block;
    margin-left: 30%;
    background-color: black;
    border: 1px solid #f8f4f4;
    padding: 10px;
    color: white;
    margin: 10px;
    font-size: 16px;
    padding: 10px 40px;
  }
}
.button-adventure {
  height: 50%;
  display: block;
  background-color: green;
  border: 1px solid #f8f4f4;
  color: white;
  font-size: 16px;
  padding: 10px 40px;
  margin: 20px 0px;
}

// End Home page

footer {
  background-color: yellowgreen;
  color: white;
}

// About page
.container-about-page {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -60px;
  z-index: -1;
}

.about-page img {
  z-index: -1;
  object-fit: cover;
  object-position: 20% 0;
}

.about-page h1 {
  position: relative;
  color: blue;
  font-size: 48px;
  top: -400px;
}

.container-about-page p {
  width: 65%;
  line-height: 1.5em;
}

.has-text-align-center {
  text-align: center;
  font-size: 24px;
  padding: 10px 50px;
}

// End About..

// Single product page...
// .container-single-page {
//   width: 100%;
// }

// .container-single-page img {
//   width: 30%;
//   height: auto;
// }

// Archive Product

h1 {
  text-align: center;
  color: green;
  font-size: 30px;
}

.jurnal-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // align-items: center;
  p {
    margin: 10px;
    color: green;
  }
}

hr {
  margin: 40px 0px;
  color: white;
  border-top: 3px dashed lightgrey;
}

.container-archive-page {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.product {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
  height: auto;
  padding: 0px;
}

.price {
  font-size: 24px;
}
