body {
  width: $width_website;
  height: auto;
  font-size: 2em;
  border: solid 1px $font_base_color;
  font-family: 'Merriweather Web';
  font-size: $font_size;
}

h1,h2,h3 {
  font-family: 'Novecento Sans Web';
}

a {
  background-color: transparent;
  font-family: 'Novecento Sans Web';
  font-size: 16px;
}

p{
  font-family: 'Merriweather Light';
}
button {
  font-family: 'Novecento Sans Web';
} 

.font-page {
  width: 100%;
  position: relative;
  z-index: -1;
  top: -60px;
  height: 550px;
}

.logotype {
  position: absolute;
  width: 20%;
  height: auto;
  top: 160px;
  bottom: 0;
  left: 40%;
}

h1 {
  font-size: 28px;
  font-family: 'Merriweather Web';
  margin: 30px;
}

.shop-stuff-h1 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
  margin-top: 0px;
  padding: 0px;
}

.shop-sruff {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.post-catecory {
  width: 25%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: solid 1px $grey_brand_colour;
  border-top: solid 3px $grey_brand_colour;

  img {
    width: 20%;
    margin: 5px;
  }
  p {
    margin: 10px;
    text-align: center;
    color: $font_base_color;
    a {
    width: max-content;
    text-decoration: none;
    display: block;
    background-color: $green_brand_colour;
    border: 1px solid $green_brand_colour; 
    color:$background_colour;   
    padding: 10px;
    text-decoration: none;
    margin: 15px;
    margin-left: 25%;
    }
  }
}

.inhabit-jurnal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

h1,
h2 {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-family: 'Novecento Sans Web';
}

.jurnals {
  width: 30%;
  height: auto;
  margin: 0px 20px;
  img {
    width: 100%;
    height: 230px;
  }
}

.topic-jurnal {
  width: 99.5%;
  height: 140px;
  border: solid 1px $grey_brand_colour;
  border-top: solid 3px $grey_brand_colour;
  color: $green_brand_colour;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  margin-top: -4px;
  h2 {
    font-family: 'Novecento Sans Web Bold';
    margin: 5px;
    padding: 0px 10px;
    text-align: left;
    font-size: 20px;
  }

  .journal-date {
    font-size: 14px;
    color:$font_base_color;
    padding: 10px 20px 0px 20px;
  }

  a {
      width: max-content;
      text-decoration: none;
      color: $font_base_color;
      display: block;
      margin-left: 30%;
      background-color: $background_colour;
      border: 1.5px solid #0a0a0a;
      padding: 10px;
      color: $font_base_color;
      text-decoration: none;
      margin: 10px;
    
    &:hover {
      background-color: $green_brand_colour;
      border: 1px solid $green_brand_colour; 
      color:$background_colour;     
        }
      }
}

.content-adventure {
  width: 95%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-gap: 10px;
  margin-bottom: 10px;
  margin: 20px;

  p {
    color: $background_colour;
    font-size: 28px;
    padding: 20px;
  }

  .Item1 {
    background-position: bottom;
    background-size: 850px;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .Item2 {
    background-position: center;
    background-size: 700px;
    background-repeat: no-repeat;
    grid-column: 3 / 5;
    grid-row: 1;
  }

  .Item3 {
    background-position: center;
    background-size: 450px;
    background-repeat: no-repeat;
    grid-column: 3 / 4;
    grid-row: 2;
  }

  .Item4 {
    background-position: bottom;
    background-size: 550px;
    background-repeat: no-repeat;
    grid-column: 4 / 5;
    grid-row: 2;
  }

  a {
    width: max-content;
    text-decoration: none;
    color: $background_colour;
    border: 1px solid #f8f4f4;
      display: block;
      margin-left: 30%;
      margin: 10px;
      font-size: $font_size;
      padding: 10px 20px;
      font-family: 'Novecento Sans Web';
      &:hover {
        background-color: $green_brand_colour;
        border: 1px solid $green_brand_colour;
        color:$background_colour;
    }
  }
}

  button {
    display: block;
    width: max-content;
    height: 40px;
    background-color: $green_brand_colour;
    border: 1px solid #f8f4f4;
    color: $background_colour;
    font-size: $font_size;
    padding: 10px 20px;
    margin: 0px 30px;
  }

.jurnal-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid $grey_brand_colour;
  border-bottom: 1px solid $grey_brand_colour;
  margin-bottom: 10px;
  h1 {
    font-size: 30px;
    color: $font_base_color;
    text-transform: uppercase;
    font-family: 'Novecento Sans Web';
  }
  p {
    margin: 10px;
    color: $green_brand_colour;
  }
  .post-menu {
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $green_brand_colour;
    }
  }
  .type-post-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    h1 {
      padding: 10px;
      margin: 0px;
    }
  }
}

.container-archive-page {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: space-around;
  padding: 20px 20px 50px 20px;
  margin: 0px 10px;
  margin-bottom: 40px;
  a {
    text-decoration: none;
  }
}

.type-archive-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 165px;
    padding: 0px;
    border-bottom: solid 3px $grey_brand_colour;
  }
  .type-product {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: solid 1px $grey_brand_colour;
    text-decoration: none;
    color: black;
  }

  .price {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
}

.product {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  border: solid 1px $grey_brand_colour;
  color: black;
  img {
    width: 100%;
    height: 190px;
    padding: 0px;
    background-size: cover;
    border-bottom: solid 3px $grey_brand_colour;
  }
  .price {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
}

