
.search-result {
  margin-top: 40px;
  height: auto;
  display: flex;
  flex-direction: row;
  border-top: $solid_border;
  padding: 0px 10px;
  
.serch-for {
  h1 {
  text-align: left;
  }
  margin-top: 20px;
  }

  .results {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 30px;

    h1 {
      width: 50%;
      background-color: $green_brand_colour;
      color: $background_colour;
      font-size: 36px;
      margin-top: 5%;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }

    h2 {
      width: 100%;
      color: $green_brand_colour;
      font-size: 24px;
      text-align: left;
      padding: 5px;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }

    p {
      line-height: 1.75;
      height: auto;
      color: $font_base_color;
      font-size: 18px;
      padding: 20px;
    }

    a {
      width: 23%;
      display: block;
     text-align: center;
      background-color: white;
      border: 1px solid #0a0a0a;
      padding: 10px;
      color: $font_base_color;      
        text-decoration: none;         
      margin-bottom: 30px;
      &:hover {
        background-color: $green_brand_colour;
        border: 1px solid $green_brand_colour; 
        color:$background_colour;     
          }   
    }
  }

  .contact-info {
    margin-top: 0px;
  }
}
