// Journal Page
.search-result {
  // background-color: blue;
  margin-top: 40px;
  height: auto;
  display: flex;
  flex-direction: row;
  border-top: $solid_border;
  padding: 0px 10px;
  
.serch-for {
  h1 {
  text-align: left;
  // border-bottom: $solid_border;
  // padding: 10px 30px;
  }
  margin-top: 20px;
  }

  .results {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 30px;

    h1 {
      width: 50%;
      background-color: $green_brand_colour;
      color: $background_colour;
      font-size: 36px;
      margin-top: 5%;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }

    h2 {
      width: 100%;
      color: $green_brand_colour;
      font-size: 24px;
      text-align: left;
      padding: 5px;
      text-transform: uppercase;
      font-family: Novecento Sans Web;
    }

    p {
      line-height: 1.75;
      height: auto;
      color: $font_base_color;
      font-size: 18px;
      padding: 20px;
    }

    button {
      width: 23%;
      display: block;
      margin-left: 20px;
      background-color: white;
      border: 1px solid #0a0a0a;
      padding: 10px;
      color: $font_base_color;
      // margin: 10px;
      a {
        text-decoration: none;
        color: $font_base_color;
      }
      margin-bottom: 30px;
    }
  }

  .contact-info {
    margin-top: 0px;
  }
}
// End of Journal Page
