$width_website: 1120px;
$base_spacin: 1.5rem;
$solid_border: 1px solid #e1e1e1;
$dashed_border: 1px dashed #c8c8c8;

$font_size: 16px;
$font_base_color: #404040;
$base_line_height: 1.75;

//     This fixed width website is $green_brand_colour wide
//     The base spacing unit is 1.5rem
//     The solid border is 1px solid #e1e1e1
//     The dashed border is 1px dashed #c8c8c8

// Typography

//     The base font size is $font_size and its HEX code is #404040r
//     The base //line-height for the site is 1.75
//     The main font family is Merriweather
//     The accent font family is Novovento Sans Web (for headings, etc.)

// Colors
$green_brand_colour: #248a83;
$background_colour: #ffffff;
$purple_brand_colour: #2f1339;
$orange_brand_colour: #d99054;
$yellow_brand_colour: #f0e4d1;
$grey_brand_colour: #a1a1a1;
